* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff2e6;
      
    }

    .container {
      background: white;
      padding: 25px;
      border-radius: 15px;
      width: 340px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    }

    h1 {
      margin-bottom: 10px;
    }

    .input-box input {
      width: 100%;
      padding: 8px;
      margin: 6px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .start-btn {
      width: 100%;
      padding: 10px;
      background:#ffc999;
      color:black;
      border: none;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 10px;
    }

    .game-section {
      display: none;
    }

    .current-player {
      margin: 12px 0;
      font-size: 18px;
      font-weight: bold;
    }

    .game {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      margin-bottom: 15px;
    }

    .cell {
      width: 90px;
      height: 90px;
      background: #f2f2f2;
      border-radius: 10px;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
    }

    .cell:hover {
      background: #e0e0e0;
    }

    .reset {
      padding: 10px 20px;
      background:#ffc999;
      color:black;
      border: none;
       font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
    }